<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Transform to X-CProvML"
            categoryId="CProvML.custom.commands.category"
            id="CProvML.custom.commands.sampleCommand">
      </command>
      <command
            name="Transform to EC2 Calls"
            categoryId="CProvML.custom.commands.category"
            id="CProvML.custom.commands.sampleCommandTwo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="CProvML.custom.commands.sampleCommand"
            class="cprovml.custom.handlers.CProvHandler">
      </handler>
      <handler
            commandId="CProvML.custom.commands.sampleCommandTwo"
            class="cprovml.custom.handlers.CProvHandlerCalls">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="CProvML.custom.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="CProvML"
               mnemonic="M"
               id="CProvML.custom.menus.sampleMenu">
            <command
                  commandId="CProvML.custom.commands.sampleCommand"
                  mnemonic="S"
                  id="CProvML.custom.menus.sampleCommand">
            </command>
            <command
                  commandId="CProvML.custom.commands.sampleCommandTwo"
                  mnemonic="S"
                  id="CProvML.custom.menus.sampleCommandTwo">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <or>
                     <equals
                           value="CProvML.presentation.CProvMLEditorID">
                     </equals>
                     <equals
                           value="CProvML.diagram.part.CProvMLDiagramEditorID">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="CPS">
         <property
               name="appName"
               value="CPS">
         </property>
      </product>
   </extension>

</plugin>
